<div class="loading txt">
  VIDEO APP
</div>

<div class="app" style="display: none">
  <div class="contain">
    <div class="row movies">
      <h1 class="thumbnail-list__name">Movies</h1>
      <div class="row__inner">

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-1.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-2.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-3.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-4.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-5.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-6.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-7.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-8.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-9.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row music">
      <h1 class="thumbnail-list__name">Music</h1>
      <div class="row__inner">

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-10.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-11.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-12.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-13.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-14.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-15.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-16.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-17.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-18.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

        <div class="tile">
          <div class="tile__media">
            <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-19.jpg" alt="" />
          </div>
          <div class="tile__details">
            <div class="tile__title">
              Top Gear
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>