<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="movie">Movies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="music">Music</a>
    </li>
</ul>
<div id="movie-thumbnail">
    <h1 class="section-title">{{ message }}</h1>
    <div class="thumbnail-list">
        <ul>

        </ul>
    </div>
</div>